*{
	margin: 0;
	padding:0; 
}
.headtop{
	width: 100%;
	height: 25px;
	border-bottom: 4px solid #f45; 
}
.headtop ul li{
	float: left;
	list-style:none;
	display: block;
	width: 90px;
	height: 25px;
	margin: 0 5px;
	text-align: center; 
}
.redtitle{
	background-color: red;
}
i{
	display: none;
	color: red;
}
span{
	display: block;
}
.whitetitle:hover i{
	display: block;
}
.whitetitle:hover span{
	display: none;
}
.body{
	width: 100%;
	height:474px;
	background-color: yellow;
}
.bodyhead{
	width: 1000px;
	height: 474px;
	background-color: pink;
	margin: 0 auto;
}
.onepic{
	width: 200px;
	height: 237px;
	/*text-align:center;*/
	border: 1px solid #e7e7e7;
}
.img{
	line-height:175px;
	text-align:center;
	width: 200px;
	height: 175px;
}
.imageside{
	width: 120px;
	height: 110px;
	background-position:-40px -30px ;
	vertical-align: middle;
}
.jieshao{
	padding-left: 15px;
}
.tie{
	margin-bottom: 15px;
}